name: Build and Deploy Project

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build Project (WebGL)
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Cache Library folder
        uses: actions/cache@v4
        with:
          path: project-underworld/Library
          key: Library-${{ hashFiles('project-underworld/ProjectSettings/**', 'project-underworld/Packages/**') }}
          restore-keys: Library-

      - name: Build
        uses: game-ci/unity-builder@v4
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
        with:
          projectPath: project-underworld
          unityVersion: 6000.2.8f1
          targetPlatform: WebGL

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: build-WebGL
          path: build/WebGL

  deploy:
    name: Deploy to Amazon S3
    runs-on: ubuntu-latest
    needs: build

    permissions:
      contents: read
      id-token: write

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: build-WebGL

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Deploy
        run: aws s3 sync . s3://${{ secrets.AWS_S3_BUCKET }} --delete --cache-control "no-cache, no-store, must-revalidate"
